<h1>ユーザー情報編集</h1>
<%= form_for(@planner) do |f| %>
  <div class="field">
    <h4><%= f.label "ニックネーム" %></h4>
    <%= f.text_field :name, autofocus: true %>
    <%= f.submit '更新', class: "btn btn-primary" %>
  </div>
<% end %>
