<h2 class="mt-5">予約枠一覧</h2>
<table class="table table-striped table-bordered">
  <tr>
    <th>日付</th>
    <th>開始時間</th>
    <th>予約ステータス</th>
    <th></th>
  </tr>
  <% @reservation_frames.each do |reservation_frame| %>
  <tr>
    <td><%= reservation_frame.date %></td>
    <td><%= reservation_frame.time_frame.start_at %></td>
    <td>
      <% if reservation_frame.reserved? %>
      予約済み
      <% else %>
      未予約
      <% end %>
    </td>
    <td><%= link_to "キャンセル", reservation_frame_path(reservation_frame.id), method: :delete %></td>
  </tr>
  <% end %>
</table>
