<div>
  <%= render "shared/list" %>
</div>

<h1>ニックネーム：<%= @planner.name %></h1>

<table>
  <tr>
    <th>日付</th>
    <th>開始時間</th>
    <th>予約ステータス</th>
    <th></th>
  </tr>
  <% @reservation_frames.each do |reservation_frame| %>
  <tr>
    <td><%= reservation_frame.date %></td>
    <td><%= reservation_frame.time_frame.start_at %></td>
    <td>未予約/予約確定</td>
  </tr>
  <% end %>
</table>
